/*edu-dash.css*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    /*=====Colors======*/
    --body-color: #eaeaea;
    --sidebar-color: #FFF;
    --primary-color: #0044CD;
    --primary-color-light: #EAF2FF;
    --toggle-color: #DDD;
    --text-color: #707070;

    /*=====Transition=====*/
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;


}


body {
    height: 100vh;
    background: var(--body-color);
}


.sidebar header{
    position: relative;
}

.sidebar.close{
    width: 88px;
}


.sidebar .text{
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
}

.sidebar.close .text{
    opacity: 0;
}


.sidebar .image{
    min-width: 55px;
    display: flex;
    align-items: center;
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background: var(--sidebar-color);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 10px 14px;
    z-index: 100;
}


.sidebar li{
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
}

.sidebar li .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    min-width: 60px;
}

.sidebar li .icon,
.sidebar li .text{
    color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar .image-text img{
    width: 70px;
    border-radius: 6px;
    padding: 10px 14px;
    padding-right: 19px;
}

.sidebar header .image-text{
    display: flex;
    align-items: center;
}

header .image-text .header-text{
    display: flex;
    flex-direction: column;
}

.header-text .name{
    font-weight: 600;
}

.header-text .profession{
    margin-top: -4px;
}

.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%);
    height: 29px;
    width: 29px;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--sidebar-color);
    font-size: 26px;
}

.sidebar .search-box{
    background: var(--primary-color-light);
}

.search-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 6px;
    background: var(--primary-color-light);
    font-size: 17px;
    color: var(--text-color);
}

.sidebar li a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 6px;
    transition: var(--tran-04);
}


.sidebar li a:hover{
    background: var(--primary-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--sidebar-color);
}

.sidebar .menu-bar{
    height: calc(100% - 60px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.home{
    position: relative;
    height: 100vh;
    left: 250px;
    width: calc(100% - 250px);
    background: var(--body-color);
    transition: var(--tran-05);
}

.home .text{
    font-size: 30px;
    font-weight: 700;
    color: var(--text-color);
    padding: 8px 40px;
    animation: slideRight 1s ease forwards;
}




.home h1{
    font-size: 30px;
    font-weight: 700;
    color: var(--text-color);
}

.home .subtext{
    font-size: 20px;
    font-weight: 400;
    color: var(--text-color);
    padding: 8px 40px;
}

.sidebar.close ~ .home{
    left: 88px;
    width: calc(100% - 88px);
}

@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes zoomOut {
    0% {
        transform: scale(1.1);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}






.dashboard {
    max-width: 1000px;
    margin: 2rem auto;
    padding: 1rem;
}
.card {
    background-color: #FFF;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    margin-bottom: 1rem;
    animation:slideTop 2s ease forwards;
}
.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}
.card-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--text-color);
}

.progress-container {
    display: flex;
    justify-content: space-between;
    background-color: #e0e0e0;
    border-radius: 10px;
    height: 5px;
    width: 100%;
    margin-bottom: 1rem;
    overflow: hidden;
    position: relative;
}

.progress-bar {
    height: 100%;
    border-radius: 10px;
    width: 0;
    transition:  background-color 1s ease-in-out, width 1s ease-in-out, background-color 1s ease-in-out;
    position: absolute;
    left: 0;
}

.progress-step {
    width: 33.33%;
    height: 100%;
    border-right: 2px solid #fff;
    z-index: 1;
}
.progress-step:last-child {
    border-right: 2px;
}
.status-info {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    color: var(--text-color);
}
.status-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 0.5rem;
}

.status-icon {
    margin-left: 0.5rem;
    font-size: 1.2rem;
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
  
.cards .red {
    background-color: #fff;
    animation:slideTop 2.5s ease forwards;
}
  
.cards .blue {
    background-color: #fff;
    animation:slideTop 3s ease forwards;
}
  
.cards .green {
    background-color: #fff;
    animation:slideTop 3.5s ease forwards;
}

.cards .white {
    background-color: #fff;
    animation:slideTop 4s ease forwards;
}

.cards .cold {
    background-color: #fff;
    animation:slideTop 4.5s ease forwards;
}
  
.cards .card {
    background-color: #FFF;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    transition: var(--tran-05);
}

.cards .card .card-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

  
.cards .card p.tip {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--text-color);
}

.cards .card .competition-details {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
  
.cards .card p.second-text {
    font-size: 0.9rem;
    color: var(--text-color);
}

.cards .card .timestamp {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 0.8rem;
    color: #888;
}
.cards .card:hover {
    transform: scale(3,3);
}
.cards:hover > .card:not(:hover) {
    filter: blur(10px);
    transform: scale(0.95, 0.95);
}


.card .new-competition-dot {
    top: 8px;
    right: 8px;
}
